
:root {
  --bs-primary: #1a365d;
  --bs-warning: #c59b27;
}

/* 1. Текст */
.text-primary {
  color: #1a365d !important;
}

.text-warning {
  color: #c59b27 !important;
}

.btn-primary {
  background-color: #1a365d !important;
  border-color: #1a365d !important;
  color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #11243e !important;
  border-color: #11243e !important;
  color: #ffffff !important;
  box-shadow: 0 4px 12px rgba(26, 54, 93, 0.2) !important;
}

.btn-outline-primary {
  color: #1a365d !important;
  border-color: #1a365d !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #1a365d !important;
  color: #ffffff !important;
}

.btn-warning {
  background-color: #c59b27 !important;
  border-color: #c59b27 !important;
  color: #ffffff !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: #a37f1d !important;
  border-color: #a37f1d !important;
  color: #ffffff !important;
}

.bg-primary {
  background-color: #1a365d !important;
}

.bg-warning {
  background-color: #c59b27 !important;
  color: #ffffff !important;
}
